<p id="notice"><%= notice %></p>

<h1>Interests</h1>

<table>
  <thead>
  <tr>
    <th>House id</th>
    <th>Buyer id</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @interests.each do |interest| %>
    <tr>
      <td><%= interest.house_id %></td>
      <td><%= interest.buyer_id %></td>

      <td><%= link_to 'Destroy', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry', new_inquiry_path %>
<%= link_to 'Back',root_path %>